---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>{title}</title>
		
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Anton&family=Space+Mono:ital,wght@0,400;1,700&display=swap" rel="stylesheet">
	</head>
	<body>
		<slot />
	</body>
</html>

<style is:global>
	/* Variables y Estilos Globales extraídos de style.css */
	:root {
		--bg-color: #050505;
		--text-color: #ffffff;
		--accent: #FF3333; /* Rojo intenso para resaltar */
		--font-display: 'Anton', sans-serif;
		--font-mono: 'Space Mono', monospace;
	}

	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}

	body {
		background-color: var(--bg-color);
		color: var(--text-color);
		font-family: var(--font-mono);
		overflow-x: hidden;
		cursor: none; /* Ocultamos cursor nativo */
		transition: background-color 0.5s ease, color 0.5s ease;
	}
</style>